.saving-goals {
  background: url(pic.jpg) no-repeat left;
  background-size: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0 10% 0;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 20px 150px 20px 40px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Lilita One", cursive;
  color: #444444;
}
.text {
  font-size: 15px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.goals {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 0px 20px 0px 50px;
  }
}
@media screen and (max-width: 1000px) {
  .saving-goals {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .saving-goals {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
